<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    </head>
<body>
    <header>
       Visão Vitoriosa: Transformando Espaços com Televisões e Monitores!
    </header>
    <div>
        <div id="welcome">TVs e Monitores!</div>
        <div id="intro">Seja bem-vindo à Visão Vitoriosa, onde a qualidade em TVs e monitores é nossa prioridade!</div>
    </div>
    <h1> Continue explorando </h1>
    <div class="contener">
    {{#each produtos}}
    <div class = "item">
            <p>{{this.ti}}</p>
            <p>{{this.de}}</p>
            <p>{{this.pre}}</p>
            <p>{{this.qua}}</p>
            <p>{{this.poleg}}</p>
            <p>{{this.tipotecn}}</p>
            <p>{{this.infor}}</p>
            <div class="actions">
                <a href="/produtos/{{this.id}}">ver detalhes</a>
                <from action="produtos/delete/{{this.id}}" method="POST">
                <input type="submit" value="Excluir" class="delete-btn">
                </from>
          </div>
    </div>
    {{/each}}
    </div>
</body>
</html>